<doctype html>

<html lang="es">
	<head>
		<title><%= title %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
		<!-- Stylesheets -->
		<link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
		<link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/chat.css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">  
	
      </head>
	<body>
		<input type="hidden" class="currentUser" />
		<form id="log_out_form" action="/users/signout" method="post">
		</form>
		
		<div class="conversations">
			<!-- Button trigger modal -->
			
			
			<!-- Modal -->
			<div class="modal fade" id="new_message_modal" tabindex="-1" role="dialog" aria-labelledby="newMessageLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
							<h4 class="modal-title" id="newMessageLabel">Nuevo mensaje</h4>
						</div>
						<div class="modal-body">
							<form class="form-horizontal send_new_message">
								<div class="form-group">
									<label class="col-sm-2 control-label">Para:</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" id="to_user_new_message" placeholder="username" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12">
										<textarea class="form-control new_message" id="new_message_new_message" rows="3" placeholder="Mensaje..."></textarea>
									</div>
								</div>
							</form>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary" id="button_send_new_message">Enviar mensaje</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		
   <!--       ------------------------------------------------------------------                  --> 
		 <div id="all_conversations" class="redondito">
          <div class="col-sm-4 col-sm-offset-4" >
                <div class="chat-box-new-div">
                    <div class="chat-box-new-head">
                        CHATS
                        <div class="btn-group pull-right">
                                <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                    <span class="fa fa-cogs"></span>
                                    <span class="sr-only">Toggle Dropdown</span>
                                </button>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#" data-toggle="modal" data-target="#new_message_modal"><span class="fa fa-pencil"></span>&nbsp;Nuevo mensaje</a></li>
                                    <li class="divider"></li>
                                    <li>
																			<a href="#" onclick="$('#log_out_form').submit()"><span class="fa fa-circle-o-notch"></span>&nbsp;Salir</a>
																	</li>
                                </ul>
                            </div>
                    </div>
										
                    <div class="panel-body chat-box-new">
											<% for (var i = 0; i < conversations.length; i++) { %>
											<div class="conversation" data-to="<%= conversations[i].to == currentUser ? conversations[i].from : conversations[i].to %>">
												<span class="user"><b><%= conversations[i].to == currentUser ? conversations[i].from : conversations[i].to %>:</b>  </span>
												<span class="last_message"><%= conversations[i].messages[conversations[i].messages.length - 1].body.substr(0, 50) %></span>
                           <hr class="hr-clas" />
											</div>
											<% } %>
                        
                    </div>
										

                </div>

            </div>
     </div>
		
		<div id="specific_conversation" class="redondito row pad-top pad-bottom">
			<div class="col-sm-6 col-sm-offset-3">
        <div class="chat-box-div">
          <!-- Head-->
          <div class="chat-box-head">
						<div class="pull-left">
							<button class="btn btn-info" id="back"><i class="fa fa-arrow-left"></i></button>
						</div>
            <span class="to_u">USERNAME</span>
          </div>  
         <!-- body chat   -->
          
           <div  class="panel-body chat-box-main">
             <!-- mensaje -->
             <div class="chat-box-left">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <!-- nombre del usuario --> 
             <div class="chat-box-name-left">
              -  Justine Goliyad
             </div>
             
              <div class="chat-box-right">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                           Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </div>
            <!-- nombre del usuario --> 
             <div class="chat-box-name-right">
              -  Justine Goliyad
             </div>
              
             
           </div>
          <div class="chat-box-footer">
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="Enter Text Here...">
                            <span class="input-group-btn">
                                <button class="btn btn-info" type="button">SEND</button>
                            </span>
                        </div>
                    </div>
        </div>
      </div>
      
      <!--
      <label>Destinatario</label><input type="text" id="to_user_chat" />
			<div class="messages">
			</div>
			<form class="send_message_chat">
				<fieldset>
					<input type="text" id="new_message_chat" autocomplete="off" />
					<input type="submit" value="Enviar" />
				</fieldset>
			</form>
           -->
		</div>
		<!-- Scripts -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
		<script src="/javascripts/bootstrap.min.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/javascripts/chatClient.js"></script>
	</body>
</html>